#user-list {
  height: 100vh;
  width: 100vw;
}

#user-list-header {
  background-color: #3A7B9A;
  display: grid;
  grid-template-columns: 115px 70px 5px 135px auto;
  grid-template-rows: 70px;
  align-items: center;
  justify-items: center;
}

#user-list-header img {
  grid-column: 2 / 3;
  grid-row: row1-start / 1;
  height: 65px;
  width: 65px;
}

#user-list-header hr {
  height: 70%;
  justify-self: start;
  grid-column: 3 / 4;
  grid-row: row1-start / 1;
}

#pairin-span {
  color: #DDD;
  justify-self: start;
  grid-column: 4 / 5;
  grid-row: row1-start / 1;
  font-size: 12px;
  padding-left: 8px;
}

#pairin-span h4 {
  font-size: 24px;
  margin: 0;
}

#user-container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100px 60px 1fr;
  align-items: center;
  justify-items: center;
}

#sort-users {
  display: grid;
  grid-template-columns: 16% 44% 11% 9%;
  grid-column: 2 / span 3;
  grid-row: 2 / 3;
  justify-items: start;
  height: 60px;
}

#sort-users h6 {
  align-self: end;
  width: 80px;
  margin: 0;
}

#sort-users h6 img {
  padding-left: 2px;
  height: 10px;
  width: 10px;
}

#render-user-list {
  grid-column: 2 / span 3;
  grid-row: third-line / 4;  
}

#render-user-list {  
  align-self: center;
  justify-self: center;
}

.user {
  display: grid;
  grid-template-columns: 20% 1fr 13% 13%;
  align-items: center;
  justify-items: start;
  background-color: #ECECE6;
  margin: 10px 0;  
  height: 50px;
  width: 80%;
}

/* #survey-status-label,
#survey-date-label {
  align-self: stretch;
} */

button {
  height: 25px;
  width: 125px;
}

button,
.user-survey-date {
  align-self: center;
  justify-self: center;
}

.user h6 {
  margin: 0;
}